
* {
    margin: 0;
    padding: 0;
    
}body{
    font-family: 'Montserrat', sans-serif;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a2345+0,020102+100 */
background: rgb(10,35,69); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(10,35,69,1) 0%, rgba(2,1,2,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(10,35,69,1) 0%,rgba(2,1,2,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(10,35,69,1) 0%,rgba(2,1,2,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a2345', endColorstr='#020102',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
background-size: cover;
overflow-x: hidden;
  position: relative;
}

/*===========================
      header part
===========================  */

.header {
    padding: 46px 80px;}
.hamburger span {
    background: #2e66b2;
   
}
.nav {
    background: #071b37;
display: initial;}
.nav ul li:hover{
    color: #2e66b2;
    font-size: 22px;
    font-weight: 500;

}
    
    .header img{
        width: 50%;
    }
/*===========================
      section_one
===========================  */
.section_one{

}.one{
    
    padding: 70px 0;
    }
    .one span{
    
    color: #2a5da3;
    
    font-size: 48px;
    }
    .one h1{
    
    color: #fff;
    
    font-size: 48px;
    
    font-weight: 400;
    }
    .one p{
    
    color: #2e66b2;
    
    font-size: 18px;
    
    font-weight: 400;
    }
    .btn-explore{
        border: 1px solid #2e66b2;
    border-radius: 22px;
    color: #fff;
    transition: .5s ease-in-out;
    margin: 20px 0;
    }
    .btn-explore:hover {
     background-color: #2e66b2;
     color: #fff;
  }

  /*===========================
      section_two
===========================  */
.section_two{
    background: url(../images/bg-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 80px 65px;
  }
  .section_two img{
    width: 75%;
    transition: all 0.4s ease-in-out;
  }
  .section_two img:hover{
      transform: translateY(-10px);
      
  }
   /*===========================
      section_three
===========================  */
  .section_three{
      position: relative;
  }
  .section_three p{
      color: #66778e;
  }
  .section_three img{
    width: 45%;
    position: absolute;
    top: 52px;
    right: 56%;
    transition: all 0.4s ease-in-out;
}
.section_three img:hover{
    transform: translateY(-10px);
    
}
 /*===========================
      section_four
===========================  */
.section_four{
    
    padding: 60px 0;
    }
    .feature{
    
    margin-bottom: 28px;
    }
    .feature img{
    
    width: 10%;
    
    margin-bottom: 16px;
    }
    .feature h1{font-size: 20px;color: #fff;}
    .feature p{
        font-size: 12px;
        color: #66778e;
        line-height: 22px;
    }
     /*===========================
      section_five
===========================  */
    .section_five {
        position: relative;
        padding: 100px 0px;
    }
    .section_five .feature img {
        width: 7%;}
        .bg-2{
            
position: absolute;
            
top: 0;
            
/* left: 57%; */
            
right: 0;
            
text-align: right;
        }
    .section_five .bg-2 img{

width: 55%;

}
/*===========================
      section_six slider
===========================  */
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
  

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullet {
    background: #2e66b2;
    
}


  /*===========================
      section_six
===========================  */
.section_six{
    background-image: url(../images/bg-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 164px 0;
}
.client{
    padding: 40px 71px;
}
.client h1{
    color: #66778E;
    font-size: 20px;
    line-height: 37px;
    text-align: center;
}
.client-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.client-img img{
    border-radius: 50%;
    width: 43px!important;
    height: 42px;
}
.client-img h6{
    color: #66778e;
    font-weight: 600;
    margin-bottom: 0;
    display: inherit;
    margin-left: 15px;
    font-size: 15px;
}
.client-img span{
    color: #213a61;
    font-weight: 600;
    margin: 0;
}
/*===========================
      section_seven
===========================  */
.stuff {
    padding: 21px 200px;
}

.section_seven .one p{
    color: #66778e;
}
.section_seven{
    padding: 80px 0;
}
.slider img {
    box-shadow: 0 29.5px 38px transparent;
    width: 21%;
    height: 73%;
}
.phone{
    position: relative;
}
.phone-img{
    width: 34%;
    height: 87%;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
/* ====================
  footer section
====================  */
hr {
    opacity: 1;
    background: #0d1624;
}
footer{
        margin-top: 25px;
        margin-bottom: 40px;
        color: #14396a;
  }
  footer ul{
  
  list-style: none;
  
  display: flex;
  }
  footer ul li{
     font-weight: 700;
     font-size: 16px;
     margin-right: 18px;
  }
  footer ul li a {
    text-decoration: none;
    color: #14396a;
    transition: .25s all ease-in-out;
    font-weight: 300;
}
  footer ul li a:hover{
    color: #fff;
  }
  footer h6{
    margin-bottom: 0;
  }

  #particles-js{
    display: inherit;
  }
  .particles-js-canvas-el{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }